//
// Frame
//

.holder {
	background-color: $delta-ui-color;
	@include rem-padding-tb(1,0);

	@include mq($bp4) {
		@include rem-padding-tb(1,1);
	}
}

//
// Header
//

.header {
	@include box-(12,1,1);
}

.logo {
	// float: left;
	font-family: $alpha-font-family;
	font-weight: $alpha-font-weight;
	@include text-dimensions(0,1,1);
}

//
// Footer
//

.footer {
	@include box-(12,1,1);
}
