//
// Frame
//

html,
body {
	height: 100%;
}

.holder {
	// background-color: $delta-ui-color;
	@include rem-padding-tb(2,1);
	@include rem-padding-lr(1,1);
}

//
// Header
//

.header {
	@include box-(12,1,1);
}

.logo {
	text-transform: uppercase;
	letter-spacing: 1px;
	// @extend %uppercase;
	// float: left;
	font-family: $beta-font-family;
	// font-weight: $alpha-font-weight;
	@include text-dimensions(-1,1,1);
}

//
// Footer
//

.footer {
	@include box-(12,1,1);
}
